body {
    background: #ededed;
    font-size: 24px;
}

.wl-75 {
    width: 75vw;
    margin: 10vh auto;
}

@media all and (max-width: 1860px) {
    .wm-80 {
        width: 80vw;
    }
}

@media all and (max-width: 1630px) {
    .ws-90 {
        width: 90vw;
    }

    form>input {
        padding: 5px 5px;
    }
}


@media all and (max-width: 1320px) {
    .wxs-95 {
        width: 95vw;
    }

    form.xs-fd-col {
        flex-direction: column !important;
    }
}


form.l-fd-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

    input {
        padding: 10px 20px;
        font-size: 1em;
        background: #f4f4f4;
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    button {
        padding: 8px 20px;
        margin: 5px 0;
        font-size: 1em;
        background: rgb(91, 108, 153);
        box-shadow: 0.5px 0.5px 5px rgba(0, 0, 0, 0.3);
        background: linear-gradient(180deg, rgba(91, 108, 153, 1) 0%, rgba(63, 93, 134, 1) 46%, rgba(54, 85, 129, 1) 100%);
        color: white;
        cursor: pointer;
        border-radius: 10px;

        &:focus {
            outline: none;
        }
    }
}

.result-container {
    display: flex;
    justify-content: flex-start;

    p {
        min-width: 350px;
        background: #d4d4d4;
        padding: 0;
        border-radius: 5px;
        min-width: 385px;

        label {
            background: #cacaca;
            display: inline-block;
            padding: 10px 20px;
            border-right: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 5px 0 0 5px;
        }

        span {
            display: inline-block;
            padding: 10px 20px;
            justify-content: center;
        }
    }
}

.result-history {
    img {
        position: relative;
        top: 3px;
    }
}

.error-message {
    background: #e34d4d;
    color: white;
    padding: 10px 20px;
    font-size: 0.8em;
}